@media only screen and (max-width: 875px) {
  #testimonials-wrapper .testimonial {
    width: 44%;
    min-height: 95px;
  }
}
@media only screen and (max-width: 767px) {
  .row {
    width: 100%;
  }

  h1 {
    font-size: 23px;
    font-size: 2.3rem;
    line-height: 23px;
    line-height: 2.3rem;
  }
}
@media only screen and (max-width: 680px) {
  #testimonials-wrapper .testimonial {
    width: 90%;
    min-height: inherit;
    margin-right: 0;
  }
}
