@media only screen and (max-width: 767px) {
  .row {
    width: 100%;
    min-width: 940px;
  }
  .row .centered {
    margin-left: auto !important;
  }

  #main-content {
    min-width: 940px;
  }
}
