.row {
  max-width: 940px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: url(../images/bg_body.png) repeat 0 0;
}

#header-wrapper header {
  text-align: center;
  padding: 20px 0;
}
#header-wrapper header nav {
  margin-top: 10px;
}
#header-wrapper header nav ul {
  margin-bottom: 0;
}
#header-wrapper header nav li {
  display: inline-block;
  margin-bottom: 0;
}
#header-wrapper header nav li a:link, #header-wrapper header nav li a:visited {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
  padding-left: 15px;
  color: #484747;
}
#header-wrapper header nav li:first-child a:link, #header-wrapper header nav li:first-child a:visited {
  padding-left: 0px;
}
#header-wrapper header nav li a:hover {
  color: #3c7ba8;
  text-decoration: none;
}
#header-wrapper header nav li.current-menu-item a:link, #header-wrapper header nav li.current-menu-item a:visited {
  color: #3c7ba8;
}

#main-content {
  padding: 25px 0;
  background: white;
}

.press {
  display: inline-block;
  width: 32%;
  background: url(../images/bg_body.png) repeat 0 0;
  min-height: 235px;
  vertical-align: top;
  margin-bottom: 20px;
  margin-right: 1.5%;
  text-align: center;
  padding-top: 10px;
}
.press.last {
  margin-right: 0;
}

#testimonials-wrapper {
  text-align: center;
}
#testimonials-wrapper .testimonial {
  display: inline-block;
  width: 45%;
  margin-right: 2%;
  vertical-align: top;
  margin-bottom: 25px;
  background: url(../images/bg_body.png) repeat 0 0;
  min-height: 85px;
  padding: 15px;
}
#testimonials-wrapper .testimonial.last {
  margin-right: 0;
}
#testimonials-wrapper h3 {
  font-size: 14px;
  font-size: 1.4rem;
  text-align: right;
  font-style: italic;
  color: #3c7ba8;
}

body.blog .row .grid-8 {
  width: 65.1%;
}

.post {
  margin-top: 5px;
}
.post:first-child {
  margin-top: 0;
}
.post img {
  margin-bottom: 10px;
}
.post .meta {
  padding: 5px 0px;
  border-bottom: 5px solid #555555;
  margin-bottom: 10px;
}
.post h5.storytitle {
  float: left;
}
.post .blog-date {
  float: right;
  margin-top: 3px;
}

#footer-wrapper {
  border-top: 5px solid #3c7ba8;
}
#footer-wrapper footer {
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: lowercase;
}
#footer-wrapper li {
  margin-bottom: 0;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
}
#footer-wrapper a:link, #footer-wrapper a:visited {
  color: #484747;
}
#footer-wrapper a.facebook, #footer-wrapper a.twitter, #footer-wrapper a.email {
  display: inline-block;
  background: url(../images/sprite_icons.png) no-repeat 0 0;
  height: 32px;
  width: 32px;
  margin-right: 5px;
  text-indent: -1000px;
  overflow: hidden;
}
#footer-wrapper a.facebook:hover, #footer-wrapper a.twitter:hover, #footer-wrapper a.email:hover {
  background-position: 0 -34px;
}
#footer-wrapper a.twitter {
  background-position: -38px 0;
}
#footer-wrapper a.twitter:hover {
  background-position: -38px -34px;
}
#footer-wrapper a.email {
  background-position: -75px 0;
}
#footer-wrapper a.email:hover {
  background-position: -75px -34px;
}
#footer-wrapper #email-signup {
  max-width: 300px;
}
#footer-wrapper #email-signup input.email {
  width: 70%;
  height: 23px;
  border: 1px solid #cccccc;
  padding-left: 5px;
}
#footer-wrapper #email-signup input.sbutton {
  width: 25%;
  height: 25px;
  background: #3c7ba8;
  text-transform: lowercase;
  top: -1px;
  cursor: pointer;
  position: relative;
  color: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  border: 1px solid #5192c1;
}
#footer-wrapper #email-signup input.sbutton:hover {
  background: #5192c1;
}
#footer-wrapper .footer-module h5 {
  margin-bottom: 10px;
}
#footer-wrapper .footer-module p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
}
#footer-wrapper #footer-right {
  margin-bottom: 10px;
}

#footer-bottom {
  clear: left;
  text-align: center;
  font-size: 11px;
  font-size: 1.1rem;
  padding-top: 5px;
  border-top: 1px solid #aaaaaa;
}
