.row {
  width: 940px;
}

body {
  background: url(../images/bg_body.png) repeat 0 0;
}

#header-wrapper header {
  text-align: center;
  padding: 20px 0;
}
#header-wrapper header nav {
  margin-top: 10px;
}
#header-wrapper header nav ul {
  margin-bottom: 0;
}
#header-wrapper header nav li {
  display: inline-block;
  margin-bottom: 0;
}
#header-wrapper header nav li a:link, #header-wrapper header nav li a:visited {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
  padding-left: 10px;
  color: #484747;
}
#header-wrapper header nav li a:hover {
  color: #3c7ba8;
  text-decoration: none;
}
#header-wrapper header nav li.current-menu-item a:link, #header-wrapper header nav li.current-menu-item a:visited {
  color: #3c7ba8;
}

#main-content {
  padding: 25px 0;
  background: white;
}

#footer-wrapper {
  border-top: 5px solid #3c7ba8;
}
#footer-wrapper footer {
  margin-top: 20px;
  padding-bottom: 20px;
}
