@import "mixins";

// TYPOGRAPHY 

H1, H2, H3, H4, H5, H6 {
  line-height: normal;
  margin: 0em;
  color: $site-purple;
  @include font-inika;  
  font-weight: bold;
}

H1 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 36px;
  line-height: 3.6rem;
  margin-bottom: 0;
  padding: 20px 0 15px;
}

H2 {
  font-size: 22px;
  font-size: 2.2rem;
}

H3 {
  font-size: 20px;
  font-size: 2.0rem;
}
H4 {
  font-size: 18px;
  font-size: 1.8rem;
  color: $site-red;
  font-weight: normal;
}
H5 {
  font-size: 16px;
  font-size: 1.6rem;
}
H6 {
  font-size: 14px;
  font-size: 1.4rem;
}

p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 22px;
  line-height: 2.2rem;
  margin: 0em 0em 15px;
  @include font-helvetica;
  font-weight: 400;
  color: $site-main;
  sup {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: -4px;
  }
}

a:link, a:visited {
  text-decoration: none;
  font-weight: 700;
  @include font-helvetica;
  color: $site-red;
}

p a:link, p a:visited {
  line-height: normal;
}

a:hover {
  text-decoration: underline;
}

#main-content {
  ul, ol {
    margin: 0.5em 0 1.25em;
    padding-left: 3.5em;
    li {
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 24px;
      line-height: 2.4rem;
      margin: 0;
      padding-left: 15px;
      @include font-helvetica;
    }
  }
  ol {
    li {
      list-style: inherit;
    }
  }
  ul li {
    list-style: disc;
  }
  ul {
    ul li {
      list-style: square;
    }
  }
}

hr {
  margin: 15px 0;
  border-top: 1px solid $site-darkgrey;
}

img.alignleft {
  float: left;
  margin-right: 20px;
}

img.alignright {
  float: right;
  margin: 10px 0px 5px 20px;
}