@import "mixins";

.row {
  max-width: 940px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: url(../images/bg_body.png) repeat 0 0;
}

// HEADER STYLES
#header-wrapper {
  border-bottom: 1px solid $site-darkgrey;
  margin-bottom: 20px;
  header {
    text-align: center;
    padding: 20px 0 5px;
    nav {
      margin-top: 10px;
      ul {
        margin-bottom: 0;
      }
      li {
        display: inline-block;
        margin-bottom: 0;
        a:link, a:visited {
          @include font-courier;
          font-weight: 800;
          font-size: 18px;
          font-size: 1.8rem;
          padding-left: 50px;
          color: $site-darkgrey;
        }
        &:first-child {
          a:link, a:visited {
            padding-left: 0px;
          }
        }
        a:hover {
          color: $site-red;
          text-decoration: none;
        }
        &.current-menu-item {
          a:link, a:visited {
            color: $site-red;
          }
        }
      }
    }
  }
}

// FEATURED IMAGES
#featured-image-wrapper {

}

// MAIN CONTENT 
#main-content {
  padding: 0px 0 25px;
}

// PRESS PAGE
.press {
  display: inline-block;
  width: 32%;
  background: url(../images/bg_body.png) repeat 0 0;
  min-height: 235px;
  vertical-align: top;
  margin-bottom: 20px;
  margin-right: 1.5%;
  text-align: center;
  padding-top: 10px;
  &.last {
    margin-right: 0;
  }
}

// TESTIMONIALS 
#testimonials-wrapper {
  text-align: center;
  .testimonial {
    display: inline-block;
    width: 45%;
    margin-right: 2%;
    vertical-align: top;
    margin-bottom: 25px;
    background: url(../images/bg_body.png) repeat 0 0;
    min-height: 85px;
    padding: 15px;
    &.last {
      margin-right: 0;
    }
  }
  h3 {
    font-size: 14px;
    font-size: 1.4rem;
    text-align: right;
    font-style: italic;
    color: $site-red;
  }
}

// BLOG PAGE
body.blog {
  .row .grid-8 {
    width: 65.1%;
  }
}

.post {
  margin-top: 5px;
  &:first-child {
    margin-top: 0;
  }
  img {
    margin-bottom: 10px;
  }
  .meta {
    padding: 5px 0px;
    border-bottom: 5px solid #555;
    margin-bottom: 10px;
  }
  h5.storytitle {
    float: left;
  }
  .blog-date {
    float: right;
    margin-top: 3px;
    @include font-courier;
  }
}

// FOOTER STYLES
#footer-wrapper {
  border-top: 1px solid $site-darkgrey;
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: lowercase;
  }
  li {
    margin-bottom: 0;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
  a:link, a:visited {
    color: $site-darkgrey;
  }
  a.facebook, a.twitter, a.email {
    display: inline-block;
    background: url(../images/sprite_icons.png) no-repeat 0 0;
    height: 32px;
    width: 32px;
    margin-right: 5px;
    text-indent: -1000px;
    overflow: hidden;
    &:hover {
      background-position: 0 -34px;
    }
  }
  a.twitter {
    background-position: -38px 0;
    &:hover {
      background-position: -38px -34px;
    }
  }
  a.email {
    background-position: -75px 0;
    &:hover {
      background-position: -75px -34px;
    }
  }
  #email-signup {
    max-width: 300px;
    input.email {
      width: 70%;
      height: 23px;
      border: 1px solid #ccc;
      padding-left: 5px;
    }
    input.sbutton {
      width: 25%;
      height: 25px;
      background: $site-red;
      text-transform: lowercase;
      top: -1px;
      cursor: pointer;
      position: relative;
      color: white;
      @include font-courier;
      border: 1px solid lighten($site-red, 9%);
      &:hover {
        background: lighten($site-red, 9%);
      }
    }
  }
  .footer-module {
    h5 {
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 18px;
      line-height: 1.8rem;
    }
  }
  #footer-middle-left {
    width: 16%;
  }
  #footer-middle-right {
    width: 20.68%;
  }
  #footer-right {
    margin-bottom: 10px;
    margin-left: 2.2%;
  }
}

#footer-bottom {
  clear: left;
  text-align: center;
  font-size: 11px;
  font-size: 1.1rem;
  @include font-courier;
}
