@import "mixins";

.row {
  width: 940px;
}

body {
  background: url(../images/bg_body.png) repeat 0 0;
}

// HEADER STYLES
#header-wrapper {
  header {
    text-align: center;
    padding: 20px 0;
    nav {
      margin-top: 10px;
      ul {
        margin-bottom: 0;
      }
      li {
        display: inline-block;
        margin-bottom: 0;
        a:link, a:visited {
          @include font-sans;
          font-weight: 800;
          text-transform: uppercase;
          font-size: 18px;
          font-size: 1.8rem;
          padding-left: 10px;
          color: $site-darkgrey;
        }
        a:hover {
          color: $site-blue;
          text-decoration: none;
        }
        &.current-menu-item {
          a:link, a:visited {
            color: $site-blue;
          }
        }
      }
    }
  }
}

// FEATURED IMAGES
#featured-image-wrapper {

}

// MAIN CONTENT 
#main-content {
  padding: 25px 0;
  background: white;
}

// FOOTER STYLES
#footer-wrapper {
  border-top: 5px solid $site-blue;
  footer {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}
