@import "mixins";

// TYPOGRAPHY 

H1, H2, H3, H4, H5, H6 {
  line-height: normal;
  margin: 0em;
  color: $site-darkgrey;
  text-transform: lowercase;
  @include font-courier;  
}

H1 {
  font-size: 23px;
  font-size: 2.3rem;
  line-height: 23px;
  line-height: 2.3rem;
  text-align: center;
  padding: 10px 0 5px;
  margin-bottom: 5px;
}

body.home {
  h1 {
    display: none;
  }
}
  
H2 {
  font-size: 20px;
  font-size: 2.0rem;
}
H3 {
  font-size: 18px;
  font-size: 1.8rem;
  color: $site-red;
}
H4 {
  font-size: 17px;
  font-size: 1.7rem;
}
H5 {
  font-size: 16px;
  font-size: 1.6rem;
}
H6 {
  font-size: 14px;
  font-size: 1.4rem;
}

p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
  margin: 0em 0em 15px;
  @include font-courier;
  font-weight: 400;
}

.content-wrapper p, .content-wrapper h3 {
  text-align: justify;
  padding: 0 50px;
}

a:link, a:visited {
  text-decoration: none;
  font-weight: 400;
  @include font-courier;
  color: $site-red;
}

p a:link, p a:visited {
  line-height: normal;
}

a:hover {
  text-decoration: underline;
}

#main-content, #content {
  ul, ol {
    margin: 0.5em 0 1.25em;
    padding-left: 3.5em;
    li {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 24px;
      line-height: 2.4rem;
      margin: 0;
      padding-left: 15px;
      @include font-courier;
    }
  }
  ol {
    li {
      list-style: inherit;
    }
  }
  ul li {
    list-style: disc;
  }
  ul {
    ul li {
      list-style: square;
    }
  }
}

hr {
  margin: 10px 0;
  border-top: 1px solid $site-red;
}

img.alignleft {
  float: left;
  margin-right: 20px;
}

img.alignright {
  float: left;
  margin-right: 20px;
}
